#mainContainer {
  height: 30vh;
  transform: rotateX(80deg) rotateY(25deg);
  transform-style: preserve-3d;
}

#centralStar {
  top: 40%;
  box-shadow: 0 0 60px rgba(244, 244, 245, 0.3);
  transform: rotateX(-80deg) translateX(-50%);
}

#orbit {
  margin-top: -7.5rem;
  margin-left: -7.5rem;
  border: 2px solid rgba(244, 244, 245, 0.2);
  transform-style: preserve-3d;
  animation-name: orbit;
}

#planet {
  border-width: 0.1px;
  transform: translateX(-50%) translateY(-50%);
}

#planetPos {
  transform-style: preserve-3d;
  animation-name: invert;
}

#orbit, #planetPos {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1.2s;
}

@keyframes orbit {
  0% { 
    transform: rotateZ(0deg) 
  }
  100% { 
    transform: rotateZ(-360deg) 
  }
}

@keyframes invert {
  0% { 
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg); 
  }
  100% { 
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); 
  } 
}
